# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
.mlflow

# IDE
.vscode/
.idea/

# Data
data/*.csv
data/*.parquet

# Reports
reports/*.html

# System
.DS_Store
 
# Virtual environment
venv/